@import './utils/common';
@import './utils/variables';
@import './components/nav-logo';
@import './components/nav-header';
@import './components/nav-contacts';
@import './components/footer';
@import './components/footer-logo';
@import './components/footer-contacts';
@import './components/socials';
@import './components/socials-footer';
@import './components/form-footer';
@import './components/hero';
@import './components/advantages';
@import './components/work';
@import './components/team';
@import './components/clients';
@import './components/modal';
@import './components/form-modal';
@import './components/filtr-btn';
@import './components/container-projects';
@import './components/projects';
@import './components/mobile-menu';
