.container--clients {
  // padding-top: 94px;
  // padding-bottom: 94px;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients-list {
  margin: 0;
  padding: 0;
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: -30px;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.clients__item {
  height: 90px;
  // flex-basis: calc(100% / 6 - 30px);
  // margin-left: 30px;

  @media screen and (min-width: 480px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-link);
  border-radius: 4px;

  transition: border 250ms var(--timing-function),
    color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--blu-text);
    color: var(--blu-text);
  }
}

.clients__icon {
  fill: var(--color-link);

  transition: fill 250ms var(--timing-function);
}

.clients__icon--yaco {
  width: 45px;
  height: 50px;
}

.clients__icon--tagline {
  width: 40px;
  height: 52px;
}

.clients__icon--company {
  width: 41px;
  height: 43px;
}

.clients__icon--brand {
  width: 59px;
  height: 47px;
}

.clients__icon--foster {
  width: 80px;
  height: 42px;
}

.clients__icon--ctl {
  width: 89px;
  height: 45px;
}

.clients__link:hover .clients__icon,
.clients__link:hover .clients__icon,
.clients__link:hover .clients__icon,
.clients__link:hover .clients__icon,
.clients__link:hover .clients__icon {
  fill: currentColor;
}

.clients__link:focus .clients__icon,
.clients__link:focus .clients__icon,
.clients__link:focus .clients__icon,
.clients__link:focus .clients__icon,
.clients__link:focus .clients__icon,
.clients__link:focus .clients__icon {
  fill: currentColor;
}
