.container--footer {
  @media screen and (min-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.container-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer {
  background-color: var(--grey-fone);
  padding: 60px 0;
}
