.container--footer {
  // display: flex;
  // align-items: baseline;

  @media screen and (min-width: 480px) {
    display: block;
  }
}

.container-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer {
  background-color: var(--grey-fone);
  padding: 60px 0;
}
