.feedback {
  display: flex;
  flex-direction: column;
}

.feedback-initials {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin-bottom: 12px;
  list-style: none;

  &__input:hover,
  &__input:focus {
    border-color: var(--blu-text);
  }
}

.feedback-initials__input:focus {
  outline: none;
}

.feedback-initials__input:hover ~ .feedback-initials__svg,
.feedback-initials__input:focus ~ .feedback-initials__svg {
  fill: var(--blu-text);
}

.feedback-initials__name {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--grey-text);
  margin-bottom: 4px;
}

.feedback-initials__input {
  height: 40px;
  padding: 0;
  padding-left: 30px;
  margin: 0;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  transition: border 250ms var(--timing-function);
}

.feedback-initials__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.feedback-initials__input--text {
  padding: 12px 16px;
  min-height: 120px;
}

.feedback-initials__input--text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.feedback-initials:not(:last-child) {
  margin-bottom: 10px;
}

.feedback__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--blu-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text);
  letter-spacing: 0.06em;
}

.feedback-contract__link {
  text-decoration: underline;
  color: var(--blu-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feedback-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  color: var(--grey-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feedback-contract__icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-text);
  border-radius: 2px;
}

.feedback-contract__use {
  display: none;
}

.feedback-contract__check:checked + .feedback-contract__icon {
  border: none;
}

.feedback-contract__check:checked
  + .feedback-contract__icon
  .feedback-contract__use {
  display: inline-block;
}

.feedback-contract__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
