.hero {
  width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  background-image: url(../img/fonhero.jpg),
    linear-gradient(
      to left,
      var(--background-hero-next) 40%,
      var(--background-hero)
    );
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-hero);
}

.hero__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.hero__title {
  display: inline-block;
  margin-bottom: 20px;
  width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--blu-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  text-align: center;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text);
}
