.nav-contacts {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: center;

  &__item:not(:first-child) {
    margin-left: 50px;
  }
}

.nav-contacts__link {
  display: flex;
  align-items: center;

  min-width: 161px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--grey-text);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--blu-text);
  }
}

.nav-contacts__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;

  &--mail {
    width: 16px;
    height: 12px;
  }

  &--tel {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 0) and (max-width: 480px) {
  .nav-contacts {
    display: none;
  }
}
