.socials {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 11px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
    width: 206px;
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--color-link);

  transition: fill 250ms var(--timing-function);
}

.socials__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  color: var(--white-text);
  background-color: var(--white-text);

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--blu-text);
  }
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: currentColor;
}
