.socials-container {
  @media screen and (min-width: 480px) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.socials__item--footer:not(:last-child) {
  margin-right: 10px;
}

.socials-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-text);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.socials__icon--footer {
  fill: var(--white-text);
}

.socials__link--footer {
  background-color: var(--backgrouund-links-footer);
}
